/* section-about */

.section-about {}

.section-about__container {
    height: 2233px;
    background-color: #222;
}

.section-about__header {
    padding: 5px;
    margin-top: 30px;
    color: white;
}
